@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.productpage {
  &__about {
    &-container {
      padding: 0 0.75rem 2rem;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      @include tablet-and-desktop {
        flex-wrap: nowrap;
        padding: 0 0.75rem 3rem;
      }

      @include desktop {
        padding: 0 0.75rem 4rem;
      }
    }

    &-top-heading {
      padding: 3.5rem 0.75rem 1rem;
      font-size: 0.938rem;

      @include tablet-and-desktop {
        padding: 6rem 1.75rem 1.25rem;
        font-size: 1.313rem;
      }

      @include desktop {
        padding: 7.5rem 1.75rem 1.5rem;
        font-size: 2.25rem;
      }
    }

    &-subtitle {
      padding-bottom: 1rem;
      font-size: 0.75rem;
      color: $dark-indigo;
      text-align: center;
      margin: 0;

      @include tablet-and-desktop {
        font-size: 1rem;
        margin: 0.5rem 0 0.25rem;
      }

      @include desktop {
        font-size: 1.625rem;
        margin: 1rem 0 0.5rem;
      }
    }

    &-content {
      font-size: 0.75rem;
      margin: 1rem 0;

      @include tablet-and-desktop {
        font-size: 0.938rem;
      }

      @include desktop {
        margin: 1rem;
        font-size: 1.5rem;
      }
    }

    &-wrapper {
      padding: 0 0.5rem;
      text-align: center;
    }

    &-img {
      width: 60%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      //   filter: grayscale(100%);
      // transition: filter 0.5s ease;
      transition: 200ms all ease-out;

      &:hover {
        // filter: grayscale(0%);
        border: 10px solid $pure-white;
      }

      @include tablet-and-desktop {
        width: 14rem;
        height: 10rem;
      }

      @include desktop {
        width: 20rem;
        height: 14rem;
      }
    }
  }
}
