@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.gamepage {
  &__container {
    margin: 5rem 2rem 3rem;

    @include tablet-and-desktop {
      margin: 7.5rem 2rem 3rem;
    }

    @include desktop {
      margin: 10rem 2rem 3rem;
    }
  }

  &__heading {
    padding-bottom: 1rem;
    font-size: 0.938rem;
    padding-top: 0;

    @include tablet-and-desktop {
      font-size: 1.313rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }
}
