@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.hero {
  border: 1px solid;
  height: 10rem;
}

.story {
  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

    &-item {
      border: 1px solid;
      width: 4rem;
      height: 5rem;
    }
  }
}
