@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.homepage {
  &__img {
    object-fit: cover;
    width: -webkit-fill-available;
    margin-top: 1.975rem;
    margin-bottom: -0.37rem;

    @include tablet-and-desktop {
      margin-top: 3.975rem;
    }

    @include desktop {
      margin-top: 5.515rem;
    }
  }

  &__title {
    color: $deep-purple;
    position: absolute;
    margin: 4rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 900;

    animation: moveInFromBottom 1.5s ease-out;

    @include tablet-and-desktop {
      margin: 9rem 1.75rem;
      font-size: 3rem;
    }

    @include desktop {
      margin: 16rem 1.75rem;
      font-size: 5rem;
    }
  }

  &__paragraph {
    position: absolute;
    margin: 6rem 0.75rem;
    color: $deep-purple;
    font-size: 0.5rem;
    animation: moveInFromBottom 1.5s ease-out;

    @include tablet-and-desktop {
      margin: 13.5rem 1.75rem;
      font-size: 1rem;
    }

    @include desktop {
      margin: 23.5rem 1.75rem;
      font-size: 1.75rem;
    }
  }

  &__button-wrapper {
    position: absolute;
    margin: 6.5rem 0.75rem;
    animation: moveInFromBottom 1.5s ease-out;

    @include tablet-and-desktop {
      margin: 15.5rem 1.75rem;
    }

    @include desktop {
      margin: 26.5rem 1.75rem;
    }
  }

  &__button {
    margin: 0;
    cursor: pointer;
    color: $deep-purple;
    background-color: transparent;
    border: 0.75px solid $deep-purple;
    font-size: 0.375rem;
    border-radius: 2px;
    transition: filter 0.3s ease;

    &:hover {
      background-color: $deep-purple;
      color: $cool-gray;
      border-color: $cool-gray;
      filter: grayscale(65%) opacity(0.8);
    }

    @include tablet-and-desktop {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }
}
