@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.hero {
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 85%;
    border: 16px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @include tablet-and-desktop {
      border: 30px solid #e0e0e0;
    }

    @include desktop {
      border: 50px solid #e0e0e0;
    }
  }
}
