@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 0.2rem;
    background-color: rgba(230, 230, 250, 0.5);

    @include tablet-and-desktop {
      padding: 0.25rem 1rem;
    }
  }

  &__logo {
    font-size: 0.594rem;
    color: $pure-white;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    list-style-type: none;

    &-item {
      color: $pure-white;
      font-size: 0.5rem;
      text-decoration: none;
      padding-left: 0.35rem;

      @include tablet-and-desktop {
        font-size: 1.25rem;
        padding-left: 1rem;
      }
    }
  }
}
