@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 0.5rem;
    background-color: rgba(230, 230, 250, 0.5);
    align-items: center;

    @include tablet-and-desktop {
      padding: 0.25rem 1rem;
    }

    @include desktop {
      height: 4rem;
    }
  }

  &__link {
    margin-bottom: -0.4rem;
  }

  &__logo {
    width: 1.5rem;
    text-decoration: none;

    @include tablet-and-desktop {
      width: 3rem;
    }
  }

  &__nav {
    display: flex;
    list-style-type: none;

    &-item {
      color: $pure-white;
      font-size: 0.5rem;
      text-decoration: none;
      padding-left: 0.35rem;

      @include tablet-and-desktop {
        font-size: 1.25rem;
        padding-left: 1rem;
      }

      @include desktop {
        font-size: 1.75rem;
      }
    }
  }
}
