@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.homepage {
  &__about {
    &-container {
      display: flex;
    }

    &-subtitle {
      padding: 1.5rem 1rem 1rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      border: 1px solid $dark-indigo;
      background-color: $dark-indigo;
      color: $pure-white;
      height: 12rem;
      width: 13rem;
      margin: 1rem;
    }

    &-content {
      font-size: 0.75rem;
    }
  }
}
