@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.homepage {
  &__about {
    &-container {
      padding: 0.5rem 0.75rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include tablet-and-desktop {
        flex-wrap: nowrap;
      }
    }

    &-top-heading {
      padding: 1.5rem 0.75rem 0;
      font-size: 0.938rem;

      @include desktop {
        font-size: 2rem;
      }
    }

    &-subtitle {
      padding: 1rem 0rem;
      font-size: 0.75rem;
      //   border-radius: 0.25rem;
      //   border: 1px solid $dark-indigo;
      //   background-color: $dark-indigo;
      color: $dark-indigo;
      //   height: 12rem;
      //   width: 13rem;
      //   margin: 1rem;
      text-align: center;

      @include desktop {
        font-size: 1.5rem;
      }
    }

    &-content {
      font-size: 0.75rem;
    }

    &-wrapper {
      padding: 0 0.5rem;
      text-align: center;
    }

    &-img {
      width: 60%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      filter: grayscale(100%);
      transition: filter 0.3s ease;

      &:hover {
        filter: grayscale(0%);
      }

      @include tablet-and-desktop {
        width: 14rem;
      }

      @include desktop {
        width: 20rem;
      }
    }
  }
}
