@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.mockup {
  object-fit: cover;
  width: -webkit-fill-available;
  margin: -1.2rem 0 -2rem;

  @include tablet-and-desktop {
    margin: -2.25rem 0 -2rem;
  }
}

.homepage {
  // &__img {
  //   background-image: url(../../assets/oli/oli.homepage.png);
  // }

  &__title {
    color: $pure-white;
    position: absolute;
    margin: 1rem;
    font-size: larger;

    @include tablet-and-desktop {
      margin: 4rem;
      font-size: xx-large;
    }

    @include desktop {
      margin: 8rem;
      font-size: xxx-large;
    }
  }
}
